#social-media {
	padding: 10px 0;
}

#social-media .g-plusone {
	display: inline-block;
}

#social-media * {
	vertical-align: middle !important;
}

#social-media > a {
	padding: 0;
	margin: 0;
	display: inline-block;
}

.page-header {
	margin: 30px 0;
}

h1,h2,h3,h4,h5,h6,.brand {
	font-family: 'Hoefler Text', Baskerville, Times, Georgia, 'Times New Roman', serif;
	font-weight: normal;
}

.note {
	color: #777;
	font-style: italic;
	font-family: Baskerville, serif;
	font-size: 15px;
}

.note h1,
.note h2,
.note h3,
.note h4,
.note h5,
.note h6 {
	font-size: 15px;
	margin: 20px 0 0;
}

.hero-unit h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.backgrid-container {
	margin-bottom: 20px;
}

#example-2-result {
	height: 592px;
}

#example-4-result .backgrid {
	table-layout: fixed;
}

.CodeMirror {
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #eaeaea;
	margin-bottom: 10px;
}

.CodeMirror-scroll {
	height: auto;
	overflow-y: hidden;
}

@media (max-width: 767px) {

	.navbar.navbar-fixed-top {
		margin-left: 0;
		margin-right: 0;
	}

	.hero-unit h1 {
		font-size: 48px;
		margin-top: 0;
		margin-bottom: 20px;
	}
}

@media (max-width: 479px) {
	.hero-unit {
		padding: 10px;
	}
}

/* Temp fix for https://github.com/twitter/bootstrap/issues/4550 */
@media (max-width: 980px) {
	.dropdown ul.dropdown-menu {
		display: block;
	}
}